{% extends "base.html" %}
{% block title %}Об авторе мегапроекта{% endblock %}
{% block content %}
<h1>
  <center>Всем привет! Я автор этой странички! </center>
  </h1>
<p>
  <center>
  Тут я должен был разместить информацию о себе, используя свои умения верстать.</p>
  Картинки, блоки, элементы бустрап. А может быть, просто написать несколько абзацев текста.</p>
  Но, как Вы видите ничего из этого я не сделал, просто из-за того, что я дико отстаю от курса...</p>
  Может быть потом, добавлю :)
  </center>
</p>
{% endblock %} 