{% extends "base.html" %}
{% block title %}Об авторе мегапроекта{% endblock %}
{% block content %}
<h1>
  <center>Всем привет! Я автор этой странички!</center>
  </h1>
<p>
  <center>
  Меня зовут Александр и это мой учебный проект.</p>
  Когда-то, в далеком 2005 году, я начинал изучать язык разметки Html. Тогда небыло никаких фреймворков, все писалось в блокноте. <br>
  Волею судбы мне не удосужилось поступить в училище на факультет, связанный с информационными технологиями... <br>
  Но, спустя 18 лет, я наконец-то вернулся к своему любимому и близкому - IT. <br> 
  02.08.2023 - я прошел переподготовку на <strong> "Python - разработчика" </strong> и получил новую специальность - <strong><mark>"Программист"</mark></strong></p>

  Кстати, можете затестить мое творение по адресу: <a href="http://dj-soft.narod.ru" target="_blank">http://dj-soft.narod.ru</a>
  </center>
</p>
{% endblock %}
